* {
    box-sizing: border-box;
}

/* Secting color variables */
:root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
}

body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
}

.card {
    background: white;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0, 0, 0, .15);

    /* 
        Using min()
        This function looks for the smallest values, and it gonna choose whichever one is smaller at any given time.
        
        width: min(500px, 70%);
    */
    width: 70%;
    /*
        Using max()
        It the opposite of min() function
        width: max(500px, 70%);
    */
}

.title {
    margin: 0 0 .5em;
    font-weight: 900;
    color: var(--clr-primary);

    font-size: clamp(2rem, 5vw, 5rem);
}

p {
    /*
        The clamp() fuction takes 3 values
        (minimum, maximum, ideal-size)
    */
    font-size: clamp(1rem, 1.25vw, 1.25rem);
}