*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    padding: 1em;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

@media (min-width: 700px) {
    .grid {
        display: grid;
        max-width: 40rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .red {
        grid-column: 1 / 3;
    }
}